/*MENU*/

.icon-bar{

  background-color:white!important;

}

.navbar{

  background: #262628;
  font-size: 14px;
  letter-spacing: 4px;
  text-transform:uppercase;
  font-weight: bold;


}

.navbar .navbar-nav{

  display:inline-block;
  float:none;
  vertical-align: top;

}

.speech{
padding-top: 40px;
font-size: 18px;
text-align: center;

margin:auto;



}

.navbar navbar-collapse{
  text-align:center;

}
.navbar li a {

  color:white!important;

}

.navbar-nav li a:hover, .navbar-nav li.active a{

  color: white!important;
  background-color: #26de81!important;

}

/* Premiere Section*/
body{
 font-family: 'Open Sans', sans-serif;
  background-color: #262628;
  color:white;
}

h1{
  font-weight: bold;
  color:#26de81;
}
h3{
  font-weight: bold;
}
section.heading{

}
img{

  max-width: 100%;
  height: auto;
}
/* Moi */
#moi{
  padding-top: 70px;
  background: #262628;
}
.pf{
  margin:0 auto;
 float:none;
  text-align:center;

}
.presentation{
  text-align:center;
}


.social{
padding-top: 50px;
text-align: center;
font-size: 60px;

}

a{
color: white;
}

.social a:hover{
color: #26de81;
}

/*Skillbar*/
.progress{

}

.progress-bar{
  color:#535c68;
  font-weight: bold;
  font-size:13px;
  background-color: #26de81;

}
.black-divider{
  margin:auto;
  margin-top : 70px;
  height: 2px;
  width: 100px;
  background: white;

}

.heading{

  margin-top: 50px;

}

/* SAVOIRE FAIRE */

.sac{

margin:0 auto;
font-size: 15px;

}
.sac h4{
font-weight: bold;
padding-bottom: 30px;
padding-left:30px;
margin:0 auto;
font-size: 17px;

}

/*FORMATION*/

.separateur{
  margin: 0 auto;
  background-color: white;
  width: 70px;
  height: 1px;

}

.separateur1{
  margin: 0 auto;
  padding-top: 4px;
  width: 70px;
  height: 0.5px;

}
.education-block{
  width: 90%;
  height: 335px;
  text-align: center;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  padding: 30px;
  opacity: 0.9;
  border: 2px solid #26de81;
  margin-bottom: 20px;
}
h2{
  text-align:center;
}

h6{
  font-size: 20px;
}


.fab fa-free-code-camp{
  font-size: 20px;
}

h4{

  font-size: 18px;

}

h5{

  font-size: 18px;
  color: #26de81;

}

/*CENTRE DINTERET*/
.case{
  height: 150px;
  margin:0 auto;
  border: 2px solid #26de81;
  border-radius: 5px;
  text-align:center;
  width : 25%;
  padding: 20px;
}
.stealth{
  height: auto;
  margin:0 auto;
  border: 2px solid #26de81;
  border-radius: 5px;
  text-align:center;
  width : 25%;
  padding: 20px;
}
.hover1 :hover{

background-color: #26de81 !important;

}
.hover2 :hover{

background-color: #26de81 !important;

}
.hover3 :hover{

background-color: #26de81 !important;

}
.hover4 :hover{

background-color: #26de81 !important;

}

.info{

  color: #26de81 ;
  font-size: 10px;
}

.resize{

height: auto;
width: auto;

}


 .stealth{

display: none;}

/* }
.stealth2{

display: none;

}
.stealth3{

display: none;

}
.stealth4{

display: none;

} */ */
  /*CONTACT*/


  .heading
  {
      text-align: center;
      margin-bottom: 60px;
  }

  #contact-form
  {
      font-size: 20px;
      background: #262628;
      padding: 40px;
      border-radius: 10px;
  }

  .blue
  {
      color: #26de81;
  }
  .form-control
  {
      height: 50px;
      font-size: 18px;
  }
  #contact-form input[type=submit]
  {
      margin: 40px auto 0px;
      display: block;
  }
  .comments
  {
      font-style: italic;
      font-size: 18px;
      color: #d82c2e;
      height: 25px
  }
  #contact-form .thank-you
  {
      text-align: center;
      margin-top: 15px;
      font-weight: bold;
      font-size: 22px;
  }
  .button1
  {
      border: 1px solid white;
      background: #262628;
      color: white;
      width: 80%;
      font-weight: bold;
      text-transform: uppercase;
      padding: 18px;
      border-radius: 5px;
  }
  .button1:hover
  {
      background: #26de81;
      border-color: white;
  }










  /* FOOTER */
  footer
  {

      padding: 20px 0 40px;
  }
  footer .glyphicon
  {
      font-size:  25px;
      margin: 20px;
      color: #26de81;
      height: 30px;
  }
  footer .glyphicon:hover
  {
      font-size:  27px;
  }
  footer h5
  {
      color: #fff;
      font-weight: normal;
  }
